/*固定导航开始*/

.header_holder{
	width:100%;
	height:50px;
}
.header_holder .header{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:50px;
    border-bottom:1px solid #dddddd;
    background:rgba(255,255,255,.9);
    z-index: 999;
}
.header_holder .header .header_content{
	width:1000px;
	height:50px;
	margin:0 auto;
}
/*固定导航左侧*/
.header_holder .header .header_content .headerL{
	float:left;
}
.header_holder .header .header_content .headerL .logo{
	margin-top:10px;
	margin-right:10px;
	float:left;
}
.header_holder .header .header_content .headerL .logo_sup{
	float: left;
	width: 70px;
	height: 23px;
	margin-top:15px;
	background: url(../img/logo-moe_5fb526f.png) no-repeat;
	text-indent: -99999px;
}
.header_holder .header .header_content .headerL .logo_sub{
	float:left;
	height: 16px;
	line-height: 16px;
	margin-left:10px;
	margin-top: 22px;
	color:#666666;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
}


/*头部右侧*/
 .header_holder .header .header_content .headerR{
 	float:right;
 }
 .header_holder .header .header_content .headerR a{
 	display: inline-block;
 	width: 66px;
 	height: 12px;
 	padding:24px 8px 14px 8px;
 	color:#8e9999;
 	font-size:12px;
 }
 .header_holder .header .header_content .headerR a:hover{
 	color:#fff;
	background:#00ca8b;
 }
.header_holder .header .header_content .headerR a i{
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 4px;
 }
 .header_holder .header .header_content .headerR a i.sethome{
 	background: url(../img/sethome_340be45.png) no-repeat;
 	width: 14px;
 	height: 14px;
 	margin-top: -2px;
 }
 .header_holder .header .header_content .headerR a:hover i.sethome{
 	background-image:url(../img/sethome-hover_e95bf00.png);
 }
 .header_holder .header .header_content .headerR a i.login{
 	background: url(../img/xiongzhang_75f62cf.png) no-repeat;
 	width: 12px;
 	height: 12px;
 	margin-top: -1px;
 }
 .header_holder .header .header_content .headerR a:hover i.login{
 	background: url(../img/xiongzhang-hover_aa57be2.png);
 }
 /*固定导航结束*/

/*背景图片开始*/
.bg1{
	position: absolute;
	left: 0;
	top: 51px;
	background:url(../img/tq.jpg) no-repeat center top;
	width: 100%;
	height: 848px;
	z-index:-1;
}
.bg2{
	position: absolute;
	left:50%;
	margin-left: -500px;
	top:302px;
	background:rgba(255,255,255,.5);
	width: 1000px;
	height: 250px;
	border-radius: 3px;
	z-index: -1;
}
.bg2 .pic1{
	position: absolute;
	left: 8px;
    top: -14px;
}
.bg2 .pic2{
	position: absolute;
	right: 9px;
    top: 9px;
}
/*背景图片结束*/
/*主体部分开始*/
.mainbody{
	width:1000px;
	margin:0 auto;
}
/*搜索部分开始*/
.search_section{
	height:251px;
	position: relative;
}
.search_section .changeSkin{
	width:280px;
	height:32px;
	position:absolute;
	right:0;
	top:25px;
	background: #525b62;
	border-radius: 22px;
	text-align: center;
}
.search_section .changeSkin .skin_txt{
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.search_section .changeSkin .skin_txt:hover{
	color:#ff5500;
}
.search_section .changeSkin .skin_btn{
	width:32px;
	height: 32px;
	position: absolute;
	right: 0;
	top:0;
}

.search_section .search_box{
	width: 590px;
	height:71px;
	position: absolute;
	right:0;
	bottom: 23px;
	font-family: 'Microsoft YaHei';
}
.search_section .search_box .logo{
	width: 128px;
	height: 41px;
	background:url(../img/search-logos_101c063.png) no-repeat -128px 0;
	margin-right: 10px;
	margin-top: 25px;
	float: left;
	text-indent:-99999px;
}
.search_section .search_box .search_body{
	float: right;
	width:452px;
	height: 71px;
}
.search_section .search_box .search_body .search_title{
	width:457px;
}
.search_section .search_box .search_body .search_title .list_item{
	float: left;
	width: 60px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background: #6a6666;
	margin-right: 5px;
	margin-bottom: 7px;
	position: relative;
}
.search_section .search_box .search_body .search_title .active{
	background: #e94441;
}
.search_section .search_box .search_body .search_title .list_item .arrow{
	border: 5px solid transparent;
	border-top: 5px solid #e94441;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	bottom:-10px;
	display: none;
}
.search_section .search_box .search_body .search_title .active .arrow{
	display: block;
}
.search_section .search_box .search_body .search_content{
	float: left;
	width: 452px;
	height: 40px;
}
.search_section .search_box .search_body .search_content .user_enter{
	float: left;
	width:329px;
	height: 38px;
	border:1px solid #d8d8d8;
	border-right:none;
	padding-left: 11px;
	font-size: 14px;
}
.search_section .search_box .search_body .search_content .search_btn{
	width: 111px;
	height: 40px;
	background: #3388ff;
	font-size: 14px;
	color: #fff;
	font-weight:bold;
	text-shadow:1px 1px 2px rgba(0,0,0,.9);
}
.search_section .search_box .search_body .search_content .user_enter:hover{
	border-color: #999999;
}
.search_section .search_box .search_body .search_content .user_enter:focus{
	border-color: #3388ff;
}
/*搜索部分开始*/
/*图标开始*/
.icon_section{
	width: 1000px;
	margin:0 auto;
}
.icon_section .icon_list{
	height: 86px;
	margin-top: 20px;

}
.icon_section .icon_list ul{
	padding-left: 27px;
}
.icon_section .icon_list ul li{
	float: left;
	width:68px;
	height: 86px;
	background: #fff;
	margin-right:20px;
}
.icon_section .icon_list ul li a{
	float: left;
	width: 64px;
	height: 82px;
	border: solid 2px #fff;
	text-align: center;
}
.icon_section .icon_list ul li a:hover{
	border-color:#1acc93;
}
.icon_section .icon_list ul li a img{
	padding-top:7px;
}
.icon_section .icon_list ul li a p{
	height: 12px;
	line-height: 12px;
	text-align: center;
	width: 100%;
	margin-top: 7px;
	font-size: 12px;
}
.icon_section .icon_set{
	height: 33px;
	margin:20px 20px 0 20px;
	position: relative;
}
.icon_section .icon_set ul{
	height: 100%;
	border:1px solid #fd8e4c;
	padding-left:44px;
	border-radius: 22px;
}
.icon_section .icon_set ul li{
	float: left;
	height: 33px;
}
.icon_section .icon_set ul li.MR1{
	margin-right: 47px;
}
.icon_section .icon_set ul li.MR2{
	margin-right: 71px;
}
.icon_section .icon_set ul li.MR3{
	margin-right: 29px;
}
.icon_section .icon_set ul li.MR4{
	margin-right: 59px;
}
.icon_section .icon_set ul li a{
	display: inline-block;
	height: 33px;
	line-height: 33px;
}
.icon_section .icon_set ul li a:hover{
	color:#fe7321;
}
.icon_section .icon_set ul li a img{
	margin-right: 10px;
}
.icon_section .icon_set .set_btn{
	float: left;
	width: 33px;
	height: 35px;
	background:#fe7321 url(../img/icon-set_9705831.png) no-repeat 3px 5px;
	position:absolute;
	right:0;
	top: 0;
	text-indent: -99999px;
	border-radius: 0 24px 24px 0;
}
/*图标结束*/


/*滚动开始*/
.hot_section{
	margin-top:22px;
	padding:0 20px 0 21px;
	/*background: red;*/
}
.rool_wrap{
	width: 276px;
	height: 343px;
	position: relative;
	float: left;
	margin-right: 22px;
	overflow: hidden;
}
 .rool_wrap .rool{
	position: absolute;
	left: 0;
	top:0;
}
.rool_wrap .rool a{
	width: 276px;
	height: 343px;
	float: left;
	position: relative;
	display: none;
}
 .rool_wrap .rool a img{
	width: 100%;
	height: 100%;	
}

 .rool_wrap .rool a.active{
	display: block;
}
 .rool_wrap .rool a .title{
	display: block;
	width:100%;
	height: 41px;
	line-height: 41px;
	text-align:center;
	font-size:16px;
	position: absolute;
	left: 0;
	bottom:0;
	color:#fff;
	font-family: "Microsoft Yahei";
	background:url(../img/title-bg_57927e8.png) repeat 0 100px;
}
 .rool_wrap .rool_nav{
	width:100%;
	position: absolute;
	left: 0;
	bottom: 10%;
	text-align: center;
}
 .rool_wrap .rool_nav .rool_icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/roller-con-icon_cff8dba.png);
	cursor: pointer;
}
 .rool_wrap .rool_nav .cur{
	background:url(../img/roller-con-icon-active_98d5aa8.png);
}
 .rool_wrap .rool_pic{
	width: 30px;
	height: 80px;
	position: absolute;
	top:50%;
	margin-top: -40px;
	text-indent: -99999px;
	transition:all .5s;
	

}
 .rool_wrap .rool_icon_left{
	left: -30px;
	background:url(../img/roller-prev_09267fb.png) no-repeat;
	
}
 .rool_wrap:hover .rool_icon_left{
 	left:0;

 }
 .rool_wrap .rool_icon_right{
	right: -30px;
	background:url(../img/roller-next_20cf2e4.png) no-repeat;
}
.rool_wrap:hover .rool_icon_right{
 	right:0;

 }
/*滚动结束*/
/*recomend开始*/
.recommend{
	width:355px;
	height:344px;
	float: left;
}
.recommend .pic_list{
	width: 100%;
	height: 156px;
	border-bottom:1px dashed #ececec;
}
.recommend .pic_list .first{
	margin-right:19px;
}
.recommend .pic_list .list_item{
	float: left;
}
.recommend .pic_list .list_item img{
	width: 168px;
	height: 118px;
}
.recommend .pic_list .list_item p{
	width: 100%;
	margin-top:11px;
	line-height: 12px;
	text-align:center;
	font-weight:bold;
	color:#666666;
}
.recommend .word_list{
	width: 100%;
	padding-top:13px;
}
.recommend .word_list .list_item{
	width: 100%;
	height: 14px;
	line-height: 14px;
	margin-bottom: 17px;
}
.recommend .word_list .list_item:hover{
	color:#14b27f;
}
.recommend .word_list .list_item span{
	display: inline-block;
	font-size:14px;
	color:#999999;
	margin-right:18px;
}
.recommend .word_list .list_item a{
	display: inline-block;
	font-size:14px;
}
/*recommend结束*/
/*top10开始*/
.top10{
	width:285px;
	height: 345px;
	float: left;
	margin-left:21px;
	font-family: "Microsoft Yahei"
}
.top10 .top10_title{
	height: 30px;
	margin-bottom:10px;
}
.top10 .top10_title .title{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size:15px;
}
.top10 .top10_title .active{
	background: #1acc93;
	color: #fff;
	margin-right:5px;
}
.top10 .top10_item{
	
}
.top10 .top10_item .list_item{
	width:286px;
	height: 30px;
	line-height: 30px;
	border-bottom:1px dashed #ececec;
}
.top10 .top10_item .list_item .sort{
	float: left;
	margin-top:5px;
	width: 23px;
	height:20px;
	line-height: 20px;
	text-align: center;
	background: #b2b2b2;
	color: #fff;
	margin-right:9px;
}
.top10 .top10_item .list_item .top123{

	background:#ff7522;
}
.top10 .top10_item .list_item a{
	float: left;
	height: 29px;
	line-height: 29px;
	font-size:11px;
}
.top10 .top10_item .list_item a:hover{
	color:#1acc93;
}
.top10 .top10_item .list_item .total{
	height:20px;
	line-height: 20px;
	background: #fd617f;
	color:#fff;
	text-align: center;
	float: right;
	padding:0 5px;
	border-radius: 2px;
	font-size:11px;
	margin-top:5px;
}
.top10 .top10_item .first{
	width: 286px;
	height:63px;
	background: #f9f9f9;
	border:none;
	position: relative;
}
.top10 .top10_item .first img{
	position: absolute;
	left: 0;
	top: 0;
}
.top10 .top10_item .first .top123{
	position: absolute;
	left: 0;
	right: 0;
	margin-top:0;
}
.top10 .top10_item .first a{
	margin-left: 77px;
}
.top10 .top10_item .first .total{
	margin-top:0;
}
/*top10结束*/

/*动画部分开始*/
.section_wrap{
	margin-top:41px;
	overflow: hidden;
}
.section_wrap .animate{
	width:100%;
	height:306px;
}
.tab_section{
	width:100%;
	height:30px;
	margin-bottom: 16px;
	font-family: "Microsoft Yahei";
}
.tab_section .tab_title{
	float: left;
}
.tab_section .tab_title span{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	font-size:22px;
	color:#333333;
	vertical-align: bottom;
}
.tab_section .tab_title i{
	display: inline-block;

	width: 25px;
	height: 28px;
	margin-left: 9px;
	background: url(../img/anime-title-icon_158300b.png) no-repeat 0 5px;
	vertical-align: bottom;
}
.tab_section .tab_list{
	float: left;
	margin-left:30px;
	height:30px;
}
.tab_section .tab_list span{
	display: inline-block;
	width:80px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size:13px;
}
.tab_section .tab_list span.active{
	background: #1acc93;
	color: #fff;
}
.animate_content .rool_wrap{
	width:240px;
	height: 260px;	
}
.animate_content .rool_wrap .rool a{
	width:240px;
	height: 260px;
}
 .rool_wrap .rool_nav{
	bottom: 5%;
}

.list_wrap{
	float:left;
	font-family: "Microsoft Yahei";
	width:738px;
}
.list_wrap .list{
	width: 760px;
	display: none;
	overflow: hidden;
}
.list_wrap .list .list_item{
	width: 170px;
	height: 120px;
	margin:0 20px 20px 0;
	float: left;
}
.list_wrap .list .list_item a{
	width:100%;
	height:100%;
	position: relative;
	float: left;
}
.list_wrap .list .list_item img{
	width: 100%;
	height: 100%;
}
.list_wrap .list .list_item .update{
	width:56px;
	height:20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	right:0;
	top:0;
	background:rgba(0,0,0,.5);
	color: #fff;
}
.list_wrap .list .list_item .title{
	position: absolute;
	left: 0;
	bottom:0;
	width:100%;
	height:36px;
	font-size:12px;
	color:#fff;
	background: url(../img/anime-title-cover_68f197e.png);
	text-indent:1em;
	line-height:46px; 
}
/*动画部分结束*/

/*美图部分开始*/
.hotpic .tab_section .tab_title i{
	width:27px;
	height:28px;
	background: url(../img/header-icon_f4d2e64.png) no-repeat 0 5px;
	vertical-align: bottom;
}
.section_wrap .hotpic .hotpic_content{
	height: 431px;
}
.section_wrap .hotpic .hotpic_content .list{
	width:1002px;
	display: none;
}
.section_wrap .hotpic .hotpic_content .list li{
	float: left;
	margin:0 2px 2px 0;
}
.section_wrap .hotpic .hotpic_content .list .list_item01,
.section_wrap .hotpic .hotpic_content .list .list_item02,
.section_wrap .hotpic .hotpic_content .list .list_item03,
.section_wrap .hotpic .hotpic_content .list .list_item04{
	height:184px;
}
.section_wrap .hotpic .hotpic_content .list .list_item05,
.section_wrap .hotpic .hotpic_content .list .list_item06,
.section_wrap .hotpic .hotpic_content .list .list_item07,
.section_wrap .hotpic .hotpic_content .list .list_item08{
	height:245px;
}
.section_wrap .hotpic .hotpic_content .list .list_item01{
	width: 276px;
}
.section_wrap .hotpic .hotpic_content .list .list_item02{
	width: 205px;
}
.section_wrap .hotpic .hotpic_content .list .list_item03{
	width: 204px;
}
.section_wrap .hotpic .hotpic_content .list .list_item04{
	width: 309px;
}
.section_wrap .hotpic .hotpic_content .list .list_item05{
	width: 195px;
}
.section_wrap .hotpic .hotpic_content .list .list_item06{
	width: 194px;
}
.section_wrap .hotpic .hotpic_content .list .list_item07{
	width: 421px;
}
.section_wrap .hotpic .hotpic_content .list .list_item08{
	width: 184px;
}
.section_wrap .hotpic .hotpic_content .list li a{
	float: left;
	width:100%;
	height: 100%;
	position: relative;
}
.section_wrap .hotpic .hotpic_content .list li a img{
	width:100%;
	height:100%;
}
.section_wrap .hotpic .hotpic_content .list li a .cover{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=30);
	display: none;
}
.section_wrap .hotpic .hotpic_content .list li a:hover .cover{
	display: block;
}
/*美图部分结束*/

/*娱乐部分开始*/
.section_wrap .entertainment{
	width:674px;
	float: left;
	overflow: hidden;
}
.entertainment .list_wrap .list .list_item{
	width:155px;
	height: 117px;
	margin:0 18px 20px 0;
}
.section_wrap .special{
	width: 305px;
	float: right;	
}
.section_wrap .special h3.title{
	height: 30px;
	font-size: 24px;
	line-height: 30px;
	font-family: "Microsoft Yahei";
	margin-bottom: 16px;
}	
.section_wrap .special .list{
	height:254px;
}	
.section_wrap .special .list .list_item{
	height: 78px;
	width:305px;
	float: left;
	margin-bottom: 10px;
}	
.section_wrap .special .list .list_item .pic{
	width: 133px;
	height: 78px;
	float: left;
	margin-right: 11px;
}	
.section_wrap .special .list .list_item .pic img{
	height: 100%;
	width: 100%;
}	
.section_wrap .special .list .list_item .title{
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 7px;
	height: 14px;
}	
.section_wrap .special .list .list_item .des{
	margin-top: 20px;
	color:#999999;
}	
/*娱乐部分结束*/

/*音乐部分开始*/
.music_wrap{
	overflow: visible;
	margin-top:21px;
}
.section_wrap .music{
	margin-top:0;
	float: left;
	
}

.section_wrap .music .tab_section .tab_title{
	position: relative;
	float: left;
}
.section_wrap .music .tab_section .tab_title i{
	margin-left: 0;
	width:30px;
	height:34px;
	background: url(../img/music-title-icon_c1ff3f7.png) no-repeat 0 5px;
	position: absolute;
	left:24px;
	top:-24px;
}
.section_wrap .music .rool_wrap{
	width:259px;
	height: 344px;
	margin-right:20px;	
}
.section_wrap .music .rool_wrap .rool a{
	width:259px;
	height:344px;
}
.section_wrap .music .viewlist{
	width: 396px;
	height: 344px;
	float: left;
	font-family: "Microsoft Yahei";
}
.section_wrap .music .viewlist .list{
	width: 423px;

}
.section_wrap .music .viewlist .list .list_item{
	float: left;
	width: 114px;
	height:159px;
	margin:0 27px 21px 0;
	
}
.section_wrap .music .viewlist .list .list_item a{
	float: left;
	width: 100%;
	height: 100%;
	background: url(../img/music-item-bg_948cae8.png) no-repeat;
	position: relative;
}
.section_wrap .music .viewlist .list .list_item a .data{
	margin-left:5px;
	border:1px solid #999999;
	width:98px;
	height: 98px;
}
.section_wrap .music .viewlist .list .list_item a .cover{
	position: absolute;
	left: 0;
	top:0;
}
.section_wrap .music .viewlist .list .list_item a .title{
	display: inline-block;
	width: 100%;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	margin-top:9px;
	font-weight: bold;
}
.section_wrap .music .viewlist .list .list_item a .author{
	display: inline-block;
	width: 100%;
	line-height: 11px;
	text-align: center;
	font-size: 11px;
	color: #666666;
	margin-top:4px;
}
.section_wrap .music .viewlist .list .list_item a .level{
	display: inline-block;
	margin-top:3px;
	padding-left: 18px;
}
.section_wrap .music .viewlist .list .list_item a .level .score{
	float: left;
	margin-right:3px;
	width:13px;
	height: 12px;
	background: url(../img/music-fav-icon_68a25b4.png);
}

.section_wrap .top10_2 .top10{
	height:406px;
}
/*音乐部分结束*/

/*漫画部分开始*/
.comic_wrap{
	margin-top:23px;
}
.section_wrap .comic{
	float:left;
}
.section_wrap .comic .tab_section .tab_title i{
	width: 24px;
	height: 29px;
	background: url(../img/comic-title-icon_b21d841.png) no-repeat 0 5px;
}
.section_wrap .comic .rool_wrap{
	width:320px;
	height:360px;
}
.section_wrap .comic .rool_wrap .rool a{
	width:320px;
	height:360px;
}



.section_wrap .comic .viewlist{
	width: 327px;
	height: 360px;
	float: left;
	font-family: "Microsoft Yahei"
}
.section_wrap .comic .viewlist .list{
	width: 348px;
}
.section_wrap .comic .viewlist .list .list_item{
	width: 95px;
	height: 170px;
	margin: 0 21px 21px 0;
	float: left;
	
}
.section_wrap .comic .viewlist .list .list_item a{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom:9px;
}
.section_wrap .comic .viewlist .list .list_item a img{
	height: 130px;
}
.section_wrap .comic .viewlist .list .list_item a .updata{
	width: 70px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/comic-read-icon_ac2bb34.png);
	line-height: 24px;
	text-align: center;
	color: #fff;
}
.section_wrap .comic .viewlist .list .list_item .title{
	clear:both;
	height: 13px;
	line-height: 13px;
	font-weight: bold;
	font-size: 14px;
	display: block;
	width: 100%;
	cursor: pointer;
}
.section_wrap .comic .viewlist .list .list_item .des{
	clear:both;
	height: 11px;
	margin-top: 6px;
	line-height: 11px;
	color:#666666;
	display: block;
	width: 100%;
}
.section_wrap .comic .viewlist .list .list_item a .cover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 130px;
	display: none;
	background:#000;
	opacity: .5;
	fliter:alpha(opacity=50);
}
.section_wrap .comic .viewlist .list .list_item a .read{
	display: block;
	width: 94px;
	height: 24px;
	background: #1acc93;
	position: absolute;
	top: 53px;
	left: 0;
	text-align: center;
	line-height: 24px;
	color:#fff;
	display: none;
}
.section_wrap .comic .viewlist .list .list_item a .read_bd{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 91px;
	height: 128px;
	border:#1acc93 solid 2px;
}
.section_wrap .comic .viewlist .list .list_item a:hover .cover,
.section_wrap .comic .viewlist .list .list_item a:hover .read_bd,
.section_wrap .comic .viewlist .list .list_item a:hover .read{
	display: block;
}
.section_wrap .top10_3 .top10{
	height:406px;
	margin-left:28px;
}
/*漫画部分结束*/


/*萌战集结开始*/
.section_wrap .meosite{
	width: 667px;
	float: left;
}
.section_wrap .meosite .tab_section .tab_title i{
	display: inline-block;
	width: 42px;
	height:38px;
	background: url(../img/site-title-icon_e58bc9a.png) no-repeat 0 5px;
}
.section_wrap .meosite dl{
	width:100%;
	margin-right:28px;
	font-size:14px;
	padding-top:21px;
	font-family: "Microsoft Yahei";
}
.section_wrap .meosite dl dt{
	float: left;
	line-height: 12px;
	width:79px;
	color:#14b27f;
}
.section_wrap .meosite dl dd{
	line-height: 12px;
	margin-bottom:24px;
	color:#333333;

}
.section_wrap .meosite dl dd a{
	margin-right:29px;
}
.section_wrap .meosite dl dd a:hover{
	color:#14b27f;
}

.comment{
	width: 305px;
	float: right;
	border: #dbbe9f solid 1px;
	border-radius: 4px;
	background: #fff9e9;
	font-family: "Microsoft Yahei";
}
.comment .comment_title{
	margin: 10px 14px;
	font-size: 14px;
}
.comment .comment_title .title{
	color:#666666;

}
.comment .comment_title .des{
	color: #bf5819;
}
.comment .comment_viewport{
	background: #fff;
	margin: 15px 8px;
	position: relative;
	height: 285px;
	overflow: hidden;
}
.comment .comment_viewport .list{
	padding: 0 15px;
}
.comment .comment_viewport .list .list_item{
	padding: 23px 0;
	border-bottom: #dbbe9f dashed 1px;
}
.comment .comment_viewport .list .list_item .pic{
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 8px;
	float: left;
	
}
.comment .comment_viewport .list .list_item .pic img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.comment .comment_viewport .list .list_item .word{
	margin-left: 60px;
}
.comment .comment_viewport .list .list_item .word .title{
	height: 13px;
	margin-bottom: 9px;
	line-height: 13px;
}
.comment .comment_viewport .list .list_item .word .title .name{
	float: left;
	color: #cd5868;

}
.comment .comment_viewport .list .list_item .word .title .time{
	float: right;
	color: #999999;
}
.comment .comment_viewport .list .list_item .word .des{
	color:#333333;
}
.comment .comment_viewport .list .list_item .word .des .face{
	max-width: 50px;
	max-height: 50px;
}
.comment .comment_viewport .scroll_outer{
	width: 6px;
	height: 100%;
	position: absolute;
	right: 5px;
	top: 0;
	background: #f4ebe2;
	border-radius: 8px;
}
.comment .comment_viewport .scroll_outer .scroll_inner{
	border-radius: 8px;
	background: #dbbe9f;
	height: 82px;
	
}
.comment .comment_section{
	margin:22px 19px;
	overflow:  hidden;
}
.comment .comment_section .enter_des{
	border:#d1d1d2 solid 1px;
	border-radius: 6px;
	height: 34px;
	padding:10px;
	width: 92%;
	margin: 0 auto;
	background: #fff;
}
.comment .comment_section .enter_des .baidu_login1{
	width: 100%;
	text-align: center;
}
.comment .comment_section .enter_des .baidu_login2{
	width: 100%;
	text-align: center;
}
.comment .comment_section .enter_des .baidu_login2 a{
	text-decoration: underline;
	color:#ff9600;
}
.comment .comment_section .submit_btn{
	width: 133px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	background: #ff7522;
	color:#fff;
	float: right;
	margin-top: 10px;
	font-size: 16px;
	font-family: "Microsoft Yahei";
}
.comment .comment_foot{
	background: #eddbc4;
	height: 30px;
	color:#fff;
	line-height: 30px;
	text-align: center;
	border-radius: 0 0 4px 4px;
}
.comment .comment_foot .count{
	color:#bf5819;
}

/*footer部分开始*/
.footer_wrap{
	width:100%;
	height:50px;
	border-top:1px solid #e0e0e0;
	background: #e9e8ef;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #666666;
}
.footer_wrap .foot_section{
	width:1000px;
	height: 100%;
	margin:0 auto;
}
.footer_wrap .foot_section .footL{
	float: left;
}
.footer_wrap .foot_section .footL .logo{
	float: left;
	width: 228px;
	height: 24px;
	margin-top:11px;
	background:url(../img/common-footer-aio_z_e1289bf.png) no-repeat 0 0;
	text-indent: -99999px;
}
.footer_wrap .foot_section .footL .footL_nav{
	float: left;
	margin:21px 0 0 40px;

}
.footer_wrap .foot_section .footL .footL_nav a{
	float: left;
	width:56px;
	line-height: 12px;
	margin-right:20px;
}
.footer_wrap .foot_section .footL .footL_nav span{
	float: left;
	line-height: 12px;
}
.footer_wrap .foot_section .footR{
	float: right;
}
.footer_wrap .foot_section .footR a{
	float: left;
	margin-top:11px;
	margin-right:21px;
}
.footer_wrap .foot_section .footR a.a3{
	margin-right:0;
}
.footer_wrap .foot_section .footR .a1 i{
	float: left;
	width: 27px;
	height:29px;
	background:url(../img/common-footer-aio_z_e1289bf.png) no-repeat -201px -44px;
}
.footer_wrap .foot_section .footR .a2 i{
	float: left;
	width: 30px;
	height:28px;
	background:url(../img/common-footer-aio_z_e1289bf.png) no-repeat -198px -93px;
}
.footer_wrap .foot_section .footR .a3 i{
	float: left;
	width: 16px;
	height:29px;
	background:url(../img/common-footer-aio_z_e1289bf.png) no-repeat -212px -139px;
}
.footer_wrap .foot_section .footR a span{
	float: left;
	width: 36px;
	height: 28px;
	line-height: 15px;
	margin-left:8px;
}
/*footer部分结束*/


/*sideBar部分开始*/
.sideBar{
	width: 45px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left:550px;
	margin-top:-230px;
}
.sideBar .sideBar_head{
	width:109px;
	height: 135px;
	background:url(../img/sider-nav_c98e607.png) no-repeat;
	position: absolute;
    left: -34px;
    top: 0;
}
.sideBar .sideBar_head .heart{
	width:85px;
	height: 50px;
	background: url(../img/taoxin_ac5b1d5.png) no-repeat;
	position: absolute;
	left:50%;
	top:-50px;
	margin-left:-42px;
	display: none;
}
.sideBar .sideBar_head:hover .heart{
	display: block;
}
.sideBar .sideBar_head .talking{
	width: 98px;
	height: 41px;
	position: absolute;
	left: 7px;
	top:77px;
	text-indent: -99999px;
}
.sideBar .sideBar_nav{
	margin-top:135px;
}
.sideBar .sideBar_nav a.toTop{
	display: block;
	width:45px;
	height: 44px;
	border:none;
	text-indent: -99999px;
	margin-bottom: 1px;
	background:url(../img/totop_17d8215.jpg) no-repeat; 
}
.sideBar .sideBar_nav a.toBottom{
	display: block;
	width:45px;
	height: 44px;
	border:none;
	text-indent: -99999px;
	background:url(../img/tobottom_95ed711.jpg) no-repeat;
}
.sideBar .sideBar_nav .nav{
	display: block;
	width: 42px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 1px;
	border-left: 3px solid #f3f3f5;
	background: #f3f3f5;
	font-size:12px;
	color:#7a7a7a;
}
.sideBar .sideBar_nav .nav:hover{
	background: #fd617f;
	border-left:3px solid #fd617f;
	color:#fff;
}
.sideBar .sideBar_nav .cur{
	border-left:3px solid #fd617f;
}